div{
    color:red;
   
    color:green
}
p[title~="xx"]{
    background:green;
    color: goldenrod
}
p::before{
    content:"before";
}
p::after{
    content:"after";
} 
p::first-letter{
    color: red;
   font-size: 100px;
}